{% extends 'core/base.html' %}

{% block title %} Welcome {%endblock%}
{% block style %}
<style>
    #snackbar {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #198754;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        bottom: 30px;
        font-size: 17px;
        border-radius: 20px;
      }
      
      #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
      }
      
      @-webkit-keyframes fadein {
        from {bottom: 0; opacity: 0;} 
        to {bottom: 30px; opacity: 1;}
      }
      
      @keyframes fadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
      }
      
      @-webkit-keyframes fadeout {
        from {bottom: 30px; opacity: 1;} 
        to {bottom: 0; opacity: 0;}
      }
      
      @keyframes fadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
      }
</style>
{% endblock style %}



{% block content %}
    {% if session_value %}
        <div class="text-2xl text-center text-white bg-green-300 rounded-xl">{{ session_value }}</div>
    {% endif %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Newest items</h2>
        
        <div class="grid grid-cols-4 gap-4">
            {% for item in items %}
            <div>
                <a href="{% url 'item:detail' item.id %}">
                    <div>
                        <img style="width: 100%; height: 200px;" src='{{ item.image.url }}' class="rounded-t-xl">
                    </div>
                    <div>
                        <div class="p-6 bg-white">
                            <h2 class="text-2xl">{{ item.name }}</h2>
                            <p class="text-gray-500">Price: {{ item.price }}</p>
                            <p class="text-gray-500">Products available: {{ item.remaining_quantity }}</p>
                        </div>
                            {% if item.created_by != request.user %}
                            {% csrf_token %}
                                <div class="flex rounded-b-xl">
                                  <a href="{% url 'item:buy' item.id %}" class ="btn text-center text-xl text-white bg-rose-500 w-1/2 p-2 hover:bg-rose-600 add-to-cart">Buy</a>
                                  <button data-item-id="{{ item.id }}" class="btn text-center text-xl text-white bg-sky-500 p-2 w-1/2 hover:bg-sky-600 add-to-cart"><i class="fa-solid fa-cart-plus"></i> Add To Cart</button>
                                </div>
                                <div id="snackbar" class="bg-sky-500">Add to cart successfully!</div>
                            {% endif %}
                            {% if item.created_by == request.user %}
                                <a href="{% url 'item:edit' item.id %}" class="btn text-center text-xl text-white bg-sky-500 rounded-b-xl block w-full p-2 hover:bg-sky-600 add-to-cart"><i class="fa-solid fa-pen"></i> Edit</a>
                            {% endif %}
                        </div>
                    </a>
                </div>
            {%endfor%}
        </div>
    </div>
    <script>
        $(document).ready(function() {
          $('.add-to-cart').on('click', function(event) {
            event.preventDefault(); // Ngăn chặn hành vi mặc định của thẻ a
            var itemId = $(this).data('item-id');
            var button = $(this)
            var url = '/items/' + itemId + '/addCart/';
            // Thực hiện yêu cầu AJAX
            $.ajax({
              url: url,
              method: 'POST',
              data: {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
              },
              success: function(response) {
                var x = document.getElementById("snackbar");
                x.className = "show";
                setTimeout(function(){ x.className = x.className.replace("show", ""); }, 2000);
              },
              error: function() {
                alert('Có lỗi xảy ra');
              }
            });
          });
        });
      </script>

    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class='mb-12 text-2xl text-center'>Categories</h2>
        
        <div class="grid grid-cols-3 gap-3">
            {% for category in categories %}
                <div>
                    <a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}">
                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">{{ category.name }}</h2>
                            <p class="text-gray-500">{{category.items.count}} items</p>
                        </div>
                    </a>
                </div>
            {%endfor%}    
        </div>
    </div>

    {% comment %} <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button> {% endcomment %}

{% endblock %}