{% extends 'core/base.html' %}
{% block title %}
  Cart for you
{% endblock %}

{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody id="tbody">
      {% for item, stt in items %}
        <tr>
          {% csrf_token %}
          <th scope="row">{{ stt }}</th>
          <td class="text-center">
            <img style=" height: 100px;" src="{{ item.image.url }}" />
          </td>
          <td>{{ item.category }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.price }}</td>
          <td class="text-center">
            <a class="btn bg-teal-500 text-center text-white" href="{% url 'item:detail' item.id %}">View Detail</a>
            <button data-item-id="{{ stt }}" class="delete-item btn btn-danger text-center text-white">Delete</button>
          </td>
        </tr>
      {% endfor %}
      <tr class="">
        <th scope="row"></th>
        <td></td>
        <td style="padding: 15px; border-bottom-color: black;" class="text-danger d-block">Total Price:</td>
		<td></td>
        <td style="padding: 15px; border-bottom-color: black;" class="d-block">{{ total_price }}</td>
        <td class="text-center">
          <a class="btn bg-rose-500 text-white">Order Now</a>
        </td>
      </tr>
    </tbody>
	<script>
		$(document).ready(function () {
		  $('.delete-item').on('click', function () {
			var itemId = $(this).data('item-id')
			var itemRow = $(this).closest('tr')
			var url = '/items/' + itemId + '/removecart/' // Replace with your Django URL
			$.ajax({
			  url: url,
			  method: 'POST',
			  data: {
				csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
			  },
			  dataType: 'json',
			  success: function (response) {
					itemRow.remove();
			  },
			  error: function (xhr, status, error) {
				alert(error)
			  }
			})
		  })
		})
	  </script>
  </table>
{% endblock %}
