{% extends "core/base.html" %}

{% block title %}Items{%endblock%}

{% block content %}
    <div class="pb-6 grid grid-cols-4 gap-4 bg-gray-100">
        <div class="col-span-1">
            <form method = "get" action="{% url 'item:items' %}">
                <input name="query" class="w-full py-4 px-6 rounded-xl border" type ="text" value ="{{query}}" placeholder="Find something">
                <input type="hidden" name = "sort_by" value="{{sort_by}}">
                <input type="hidden" name = "category" value="{{ category_id }}">
                <input type="hidden" name="from_price" value="{{from_price}}">
                <input type="hidden" name="to_price" value="{{to_price}}">
                <button class="mt-2 py-4 px-8 text-lg bg-sky-500 text-white rounded-xl">Search</button>
            </form>

            <hr calss="my-6">
            <p class="font-semibold">Categories</p>

            <ul>
                {% for category in categories %}
                    <li class="py-2 px-2 rounded-xl{% if category.id == category_id %} bg-gray-200{% endif %}">
                        <a href="{% url 'item:items' %}?query={{ query }}&category={{ category.id }}&from_price={{from_price}}&to_price={{to_price}}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <hr calss="my-6">
            <p class="font-semibold">Clear filters</p>

            <ul>
                <li><a href="{% url 'item:items' %}" class="mt-2 py-4 px-8 inline-block bg-yellow-500 text-lg rounded-xl text-white">Clear</a></li>
            </ul>
        </div>

        <div class="col-span-3">
            <div class="p-3 ">
                <ul style="list-style-type: none;">
                    <li class="d-inline-block">
                        <p class="d-inline-block text-2xl mr-2">Sort by price: </p>
                        <div class="d-inline-block"><a href="{% url 'item:items' %}?query={{ query }}&sort_by=asc&from_price={{from_price}}&to_price={{to_price}}&category={{category_id}}" class="btn bg-sky-400 text-white px-5"><i class="fa-solid fa-up-long"></i></a></div>
                        <div class="d-inline-block"><a href="{% url 'item:items' %}?query={{ query }}&sort_by=desc&from_price={{from_price}}&to_price={{to_price}}&category={{category_id}}" class="btn bg-sky-400 text-white px-5"><i class="fa-solid fa-down-long"></i></a></div>
                    </li>
                    <li class="d-inline-block">
                        <form id="search-form" action="">
                            <label class="d-inline-block text-2xl mr-2">From: </label>
                            <div class="d-inline-block"><input class="d-block p-1 rounded-xl" type="number" name="from_price" id="from_price"></div>
                            <label class="d-inline-block text-2xl mr-2">To: </label>
                            <div class="d-inline-block"><input class="d-block p-1 rounded-xl" type="number" name="to_price" id="to_price"></div>
                            <input type="hidden" name="query" value="{{query}}">
                            <input type="hidden" name = "sort_by" value="{{sort_by}}">
                            <input type="hidden" name = "category" value="{{ category_id }}">
                            <button type="submit" class="btn bg-sky-400 text-white">Search</button>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="grid grid-cols-4 gap-4" id="content">
                {% for item in items %}
                    <div>
                        <a href="{% url 'item:detail' item.id %}">
                            <div>
                                <img src='{{ item.image.url }}' class="rounded-t-xl" style="height: 200px; width: 100%;">
                            </div>
    
                            <div class="p-6 bg-white rounded-b-xl">
                                <h2 class="text-2xl">{{ item.name }}</h2>
                                <p class="text-gray-500">Price: {{ item.price }}</p>
                            </div>
                        </a>
                    </div>
                {%endfor%}
            </div>
        </div>
    </div>
{% endblock%}
